#newName{
    /* border:solid black 1px; */
    margin:0;
}

.new{
    background:rgb(235, 235, 235);
    border:solid 1px black;
    width:200px;
    margin-left:30px;
    padding:5px;
}

.email{
    color:green;
}

.flex1{
    background:green;
    display:flex;
}

.flex1 > div{
    border:solid 1px black;
    min-width:350px;
    width:50%;
    padding:5px;
}

